<form action="/myapp/user_data" method="post" enctype="multipart/form-data">
Phone: <input type="text" value="" name="phone">
Email: <input type="text" value="" name="email">
Question: <input type="text" value="" name="question">
File: <input type="file" value="" name="file">
<input type="submit" value="submit">
</form>





